{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "Contacts" %}</h3>
</div>
<div class="row">
	<div class="col-md-3">
		<br>
		<h2 align="center">Офис компании CUPPER</h2>
		<p align="center">Моторные масла и смазки «CUPPER»</p>
		<address>
			<p>129085, Москва Ул. Годовикова, 9с2<br>
			Тел: <a href="tel:+74951825837">+7(495)182-58-37</a><br>
			Пн-Пт с 9:00 до 18:00,<br>
			Сб-Вс - выходные.
			<a href="mailto:info@cupper.ru">info@cupper.ru</a></p>			
		</address>				
	</div>
	<div class="col-md-9" style="position:relative;overflow:hidden;">
		<div style="position:relative;overflow:hidden;">
			<a href="https://yandex.kz/maps/ru/org/cupper_golovnoy_ofis/185191558957/?lang=ru&utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">CUPPER, головной офис</a>
			<a href="https://yandex.kz/maps/ru/213/moscow/category/research_organization/184106182/?lang=ru&utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Научно-производственная организация в Москве</a>
			<a href="https://yandex.kz/maps/ru/213/moscow/category/lubricants/184106702/?lang=ru&utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Смазочные материалы в Москве</a>
			<iframe src="https://yandex.kz/map-widget/v1/?filter=alternate_vertical%3AWhatWhere&ll=37.634131%2C55.805685&mode=search&oid=185191558957&ol=biz&sctx=ZAAAAAgCEAAaKAoSCeVhodY0PFNAEVK2SNqNJEpAEhIJTl5kAn6N3z8ReZCeIoeIxT8iBgABAgMEBSgKOABAsJIHSAFqAmt6nQHNzEw9oAEAqAEAvQE9fWs0wgEGrd6b8rEFggIt0JzQvtGB0LrQstCwINCe0YTQuNGBINC60L7QvNC%2F0LDQvdC40LggQ1VQUEVSigIAkgIDMjEzmgIMZGVza3RvcC1tYXBz&sll=37.628641%2C55.805305&sspn=0.053278%2C0.016696&text=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%20%D0%9E%D1%84%D0%B8%D1%81%20%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D0%B8%20CUPPER&z=15.41" width="100%" height="500px" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
		</div>
	</div>
</div>
{% endblock content %}