{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}
<div class="jumbotron">
	<h1>Отслеживание почтовых отправлений</h1>
	<hr class="my-4">
	<div class="row">
		<div class="col-md-6">
			<img src="{% static 'images/index.png' %}" alt="index" class="img-center">
		</div>
		<div class="col-md-6">
			<p>Трек-код — это уникальный номер посылки, так же называют почтовым идентификатором (англ. tracking number) или номером отслеживания. Трекинг номер, международный почтовый идентификатор отправления по которому ориентируются службы доставки. Трек-код позволяет отследить прохождение заказа через сортировочные центры, промежуточные пункты, а так же факт вручение посылки получателю.</p> 
			<p>Telegram-бот <a href="https://t.me/post260222_bot">post260222_bot</a> даёт возможность отследить трек по его номеру или по номеру телефона.</p>
		</div>
	</div>	
</div>
{% endblock content %}

